/* VARIABLES */
:root {
    --dark-text: #000;
    --light-text: #fff;
    --btn-color: var(--dark-text);
    --btn-border-width: 1px;
    --btn-border-radius: 0px;
    --selectors-border-radius: var(--btn-border-radius);
    --bubbles-border-radius: var(--btn-border-radius);
    --header-background-color: #f7f7f7;
    --online-background-color: #f7f7f7;
    --footer-background: var(--light-text);
    --footer-text: var(--dark-text);
}

/* BACKGROUNDS */
.ps-header {
    background-color: var(--header-background-color);
}

.ps-widget ul.ps-online-sellers {
    background-color: (--online-background-color);
}

/* BUTTONS */
.ps-widget[ps-sku].ps-enabled,
button.ps-online-buy-button.available {
    color: var(--light-text);
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}
.ps-widget[ps-sku].ps-disabled,
button.ps-online-buy-button.unavailable {
    color: var(--btn-color);
    background-color: var(--light-text);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}

/* HEADER */
.ps-product-details>h2.ps-product-name {
    max-width: 630px;
    color: var(--dark-text);
}
.ps-product-selector {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 630px;
    margin-top: 15px;
}
.ps-product-selector>div {
    display: flex;
    flex-direction: column;
}
.ps-product-selector>div>label {
    font-weight: 600;
    color: var(--dark-text);
}
.ps-product-selector>div>select {
    height: auto;
    width: auto;
    padding: 4px 8px;
    border-radius: var(--btn-border-radius);
    border-color: var(--dark-text);
    color: var(--dark-text);
}
.bubbles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px 8px !important;
    text-align: center;
    background-color: var(--light-text);
    color: var(--dark-text);
    border: 1px solid var(--dark-text);
    border-radius: var(--bubbles-border-radius);
}
.bubbles:nth-of-type(1) {
    background: var(--dark-text);
    color: var(--light-text);
    border-color: var(--dark-text);
}

/* FOOTER */
.ps-footer {
    background-color: var(--footer-background);
    border-top-color: var(--footer-text);
}
.ps-footer > span > a > svg > path,
.ps-footer > div > span > a,
.ps-footer > div > span {
    color: var(--footer-text);
    fill: var(--footer-text);
}

/* DISABLE SELLER OPTIONS */
/* 
.ps-stock-status {
    display: none;
}
.ps-price {
    display: none;
}
*/