/* VARIABLES */
:root {
    --dark-text: #043755;
    --light-text: #fff;
    --ribbon-background: var(--dark-text);
    --ribbon-text: var(--light-text);
    --footer-background: var(--ribbon-background);
    --footer-text: var(--ribbon-text);
    --search-icons: var(--dark-text);
    --btn-color: var(--dark-text);
    --btn-border-width: 1px;
    --btn-border-radius: 5px;
    --selectors-border-radius: var(--btn-border-radius);
    --bubbles-border-radius: 25px;
    --geolocation-border-radius: var(--btn-border-radius);
    --online-local-background-color: #f7f7f7;
}

/* BACKGROUNDS */
.ps-online-tab ul.ps-online-sellers,
.ps-local-tab,
.ps-local {
    background-color: var(--online-local-background-color);
}

/* BUTTONS */
.ps-widget[ps-sku].ps-enabled,
button.ps-online-buy-button.available {
    color: var(--light-text);
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}

;

.ps-widget[ps-sku].ps-disabled,
button.ps-online-buy-button.unavailable {
    color: var(--btn-color);
    background-color: var(--light-text);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}


/* LOGO */
div.ps-client-logo.inline.small {
    position: absolute;
    top: 0;
    right: 25px;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.ps-client-logo.inline>div>img {
    width: 100px;
}

/* HEADER */
.ps-header {
    z-index: 3;
}

.ps-product-details>h2.ps-product-name {
    max-width: 630px;
    color: var(--dark-text);
}

.ps-product-selector>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ps-product-selector>div>label {
    margin: 0;
    font-weight: 600;
    color: var(--dark-text);
}

.ps-product-selector>div>select {
    height: auto;
    min-width: 150px;
    padding: 8px;
    border-radius: var(--btn-border-radius);
    border-color: var(--dark-text);
    color: var(--dark-text);
}

.bubbles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px 8px !important;
    text-align: center;
    background-color: var(--light-text);
    color: var(--dark-text);
    border: 1px solid var(--dark-text);
    border-radius: var(--bubbles-border-radius);
}

.bubbles:nth-of-type(1) {
    background: var(--dark-text);
    color: var(--light-text);
    border-color: var(--dark-text);
}

.ps-country-selector-holder>div>span {
    width: 100px;
    margin-right: 100px;
}

/* MAIN */
.ps-ribbon {
    background-color: var(--ribbon-background);
}

.ps-lightbox .ps-online-tab-label>h2,
.ps-lightbox .ps-local-tab-label>h2,
.ps-lightbox .ps-online-tab-label>label,
.ps-lightbox .ps-local-tab-label>label {
    color: var(--ribbon-text);
}

.ps-ribbon.ps-desktop-left>div>div.ps-local-tab-label>label:hover,
.ps-ribbon.ps-desktop-left>div div.ps-online-tab-label>label:hover,
.ps-ribbon.ps-desktop-left>div>div.ps-local-tab-label>h2:hover,
.ps-ribbon.ps-desktop-left>div div.ps-online-tab-label>h2:hover {
    cursor: pointer;
}

.ps-location>div>span.ps-map-geolocation-button>svg>path,
.ps-location>div>span.ps-map-location-button>svg>path {
    fill: var(--search-icons);
}

.ps-location>div>span.ps-map-location-button {
    border-top-right-radius: var(--geolocation-border-radius);
    border-bottom-right-radius: var(--geolocation-border-radius);
}

.ps-location>div>span.ps-map-geolocation-button {
    border-top-left-radius: var(--geolocation-border-radius);
    border-bottom-left-radius: var(--geolocation-border-radius);
}

.ps-location>div>input {
    border-radius: var(--geolocation-border-radius);
}

/* FOOTER */
.ps-footer {
    background-color: var(--footer-background);
    border-top-color: var(--footer-text);
}

.ps-footer>span>a>svg>path,
.ps-footer>div>span {
    color: var(--footer-text);
    fill: var(--footer-text);
}

/* RESPONSIVE STYLES */
@media screen and (min-width: 767px) {
    .ps-product-selector {
        display: flex;
        gap: 12px;
        max-width: 630px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    .ps-lightbox .ps-wtb-content.ps-dual-column>.ps-location,
    .ps-lightbox .ps-wtb-content.ps-tabbed>.ps-location {
        background-color: var(--ribbon-background);
    }

    .ps-location>small,
    .ps-location label {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    div.ps-client-logo.inline.small {
        display: none;
    }

    span.ps-link>span {
        border-radius: 10px;
        padding: 0 4px;
        min-width: 70px;
        background-color: var(--btn-color);
        color: var(--light-text);
    }

    input[type="radio"].ps-online-tab-button:checked~.ps-wtb-content .ps-location {
        display: none;
    }
}