/* VARIABLES */
:root {
    --dark-text: #000;
    --light-text: #fff;
    --ribbon-background: var(--dark-text);
    --ribbon-text: var(--light-text);
    --footer-background: var(--ribbon-background);
    --footer-text: var(--ribbon-text);
    --search-icons: var(--dark-text);
    --btn-color: var(--dark-text);
    --btn-border-width: 1px;
    --btn-border-radius: 0px;
    --selectors-border-radius: var(--btn-border-radius);
    --bubbles-border-radius: var(--btn-border-radius);
    --geolocation-border-radius: var(--btn-border-radius);
    --online-local-background-color: inherit;
}

/* BACKGROUNDS */
.ps-online-tab ul.ps-online-sellers,
.ps-local-tab,
.ps-local {
    background-color: (--online-local-background-color);
}

/* BUTTONS */
.ps-widget[ps-sku].ps-enabled,
button.ps-online-buy-button.available {
    color: var(--light-text);
    background-color: var(--btn-color);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}
.ps-widget[ps-sku].ps-disabled,
button.ps-online-buy-button.unavailable s{
    color: var(--btn-color);
    background-color: var(--light-text);
    border-color: var(--btn-color);
    border-radius: var(--btn-border-radius);
    border-width: var(--btn-border-width);
}

/* LOGO */
div.ps-client-logo.inline.small {
    position: absolute;
    top: 0;
    right: 25px;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.ps-client-logo.inline>div>img {
    width: 100px;
}

/* HEADER */
.ps-product-details>h2.ps-product-name {
    max-width: 630px;
    color: var(--dark-text);
}
.ps-product-selector {
    display: flex;
    flex-direction: row;
    gap: 12px;
    max-width: 630px;
    margin-top: 15px;
}
.ps-product-selector>div {
    display: flex;
    flex-direction: column;
}
.ps-product-selector>div>label {
    font-weight: 600;
    color: var(--dark-text);
}
.ps-product-selector>div>select {
    height: auto;
    width: auto;
    padding: 4px 8px;
    border-radius: var(--btn-border-radius);
    border-color: var(--dark-text);
    color: var(--dark-text);
}
.bubbles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 6px 8px !important;
    text-align: center;
    background-color: var(--light-text);
    color: var(--dark-text);
    border: 1px solid var(--dark-text);
    border-radius: var(--bubbles-border-radius);
}
.bubbles:nth-of-type(1) {
    background: var(--dark-text);
    color: var(--light-text);
    border-color: var(--dark-text);
}

/* MAIN */
.ps-ribbon {
    background-color: var(--ribbon-background);
}
.ps-lightbox.ps-online-tab-label>h2, 
.ps-lightbox.ps-local-tab-label>h2 {
    color: var(--ribbon-text);
}
.ps-location>div>span .ps-map-geolocation-button>svg>path, 
.ps-location>div>span .ps-map-location-button>svg>path {
    fill: var(--search-icons);
}
.ps-location>div>span .ps-map-location-button {
    border-top-right-radius: var(--geolocation-border-radius);
    border-bottom-right-radius: var(--geolocation-border-radius);
}
.ps-location>div>span .ps-map-geolocation-button {
    border-top-left-radius: var(--geolocation-border-radius);
    border-bottom-left-radius: var(--geolocation-border-radius);
}
.ps-location>div>input {
    border-radius: var(--geolocation-border-radius);
}

/* FOOTER */
.ps-footer {
    background-color: var(--footer-background);
    border-top-color: var(--footer-text);
}
.ps-footer>span>a>svg>path,
.ps-footer>div>span>a,
.ps-footer>div>span {
    color: var(--footer-text);
    fill: var(--footer-text);
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1024px) {
    div.ps-client-logo.inline.small {
        display: none;
    }
}

/* DISABLE SELLER OPTIONS */
/* 
.ps-stock-status {
    display: none;
}
.ps-price {
    display: none;
}
*/